.carousel_container_global {
    position: relative;
    z-index: 1;

    margin: auto;
    max-width: var(--maxWidth1);

    width: var(--width1);
    height: auto;
}

.carousel_image_container {
    height: 500px;
    opacity: 70%;
}
