
.global_container {
  max-width: var(--maxWidth1);
  margin: auto;
  border: 1px solid red;
}


.title {
  font-family:  var(--title-font);
  font-size: var(--fontSize4);
}

.para1{
  font-size: var(--fontSize1);
  font-family: var(--text-font);
}
