
.global_container {
	/* max-width: var(--maxWidth1); */
	margin: auto;
	position: relative;
	min-height: 150vh;
  
 }
 
 .test_section {
	max-width: var(--maxWidth1);
	margin: 150px auto;
	position: relative;
	z-index: 2;
  
 }
 
 .title {
	font-family:  var(--title-font);
	font-size: var(--fontSize4);
 }
 
 .para1{
	font-size: var(--fontSize1);
	font-family: var(--text-font);
 }
 