.global_container {
    max-width: var(--maxWidth1);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px auto;
    position: relative;
    z-index: 6;
}

.buttons_navigation_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    width: 30%;
    height: 100px;
}

.button_navigation {
    position: relative;
    font-family: var(--text-font);
    font-size: var(--fontSize2);
    font-weight: 500;
    color: var(--darkColor1);
    border-bottom: 0px;
    transition: all 0.3s ease;
    margin: 0 5px;
    //  overflow: hidden;
}
.button_new_product {
    position: relative;
    font-family: var(--text-font);
    font-size: var(--fontSize1);
    font-weight: 500;
    color: var(--redColor1);
    border-bottom: 0px;
    transition: all 0.3s ease;
   
}
.button_navigation::before ,
.button_new_product::before
{
    content: "";
    position: absolute;
    z-index: 10;
    width: 0%;
    border-bottom: 2px solid var(--redColor1);
    top: 100%;
    left: 50%;
    transition: all 0.3s ease;
}
.button_navigation:hover::before,
.button_new_product:hover::before
{
    width: 100%;
    left: 0;
}

.button_navigation:hover {
    color: var(--darkColor2);
}

.login_logout_button {
	cursor: pointer;
}