.slug_global_container {
    // max-width: var(--maxWidth1);
    max-width: 1500px;
    margin: auto;
    height: auto;
    color: var(--darkColor1);
}
// CAROUSEL
.slug_carousel_container {
    // background: blue;
    max-width: var(--maxWidth1);
    width: 1000px;
    height: auto;
    margin: auto;
}

.slug_img_container {
    max-width: var(--maxWidth1);
    width: 1000px;
    margin-bottom: 100px;
}

// MIDDLE BOTTOM

.slug_bottom_container {
    display: flex;
    justify-content: space-around;
}
.left_part {
    max-width: 800px;
    font-family: var(--text-font);
}

.left_middle_part {
    display: flex;
    justify-content: space-around;
}
.left_top_part {
    p {
        font-size: var(--fontSize0) ;
        line-height: 25px;
    }
}

.details_lists {
    width: 50%;
    margin: 0 10px;

    h2 {
        margin: 0;
        padding: 0;
        font-family: var(--text-font);
    }

    li,
    ul {
        list-style: none;
        margin: 3px 0;
        padding: 0;
    }
}
.border_title {
    border-bottom: 1px solid var(--greyColor2);
    margin: 15px 0;
}


.left_bottom_part {
    display: flex;
    justify-content: space-around;
}

.bottom_details {
 width: 50%;
}
.bottom_details_text {
    display: flex;
    justify-content: space-between;
    p {
        margin: 5px 0;
    }
}
.bottom_details_second{
    padding-left: 150px;
}
